Allow http QUERY method in htsget

Htsget defines both GET and POST requests; for POST it specifies that

> servers may optionally also accept POST requests […] Htsget POST requests must be “safe” as defined in section 4.2.1 of [RFC 7231](https://tools.ietf.org/html/rfc7231), that is they must be essentially read-only.

A “safe” request with a POST-style body used to query a server is essentially the definition of the new HTTP QUERY method defined in [RFC 10008](https://datatracker.ietf.org/doc/rfc10008/).

We should add QUERY requests to htsget, defined equivalently to our POST requests.

We might consider making GET and QUERY the primary defined htsget request types, and defining POST requests as equivalent to QUERY. But this might be so future-oriented that it's confusing! Probably best to define QUERY and POST alongside each other equally.