Query by "?start=X&end=Y" shouldn't imply "Accept-Ranges: none"

The `/sequence/<id>` Response section says:

> If a start and/or end query parameter are specified the server should include a `Accept-Ranges: none` header in the response.

What is the reason for this?

As I understand it ([RFC 7233 §2.3](https://tools.ietf.org/html/rfc7233#section-2.3)), `Accept-Ranges: none` is a hint to the client that Range-header requests should not be attempted for the particular target resource. But surely there's no reason a client couldn't send some requests via start/end and others via a Range header? Refget servers are required to support both, and in fact the spec recommends using Range.

I've addressed this in pull request #344 
Remove the Accept-Ranges from the return, as you're right, this implies to the client for all future requests that Range queries are not allowed.